<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Eleventy-deep-pagination | {{ title }}</title>
    <meta name="description" content="{{ description }}" />
</head>
<body>
    {{ content | safe }}
    <footer>
        <small>
            <p>Build with <a href="https://www.11ty.dev/">11ty</a></p>
            <p>Look it up on <a href="https://github.com/solution-loisir/eleventy-deep-pagination">GitHub</a>!</p>
            <p>License <a href="/LICENSE">Apache-2.0</a></p>
        </small>
    </footer>
</body>
</html>