---
layout: base-layout.njk
pagination:
  data: collections.posts
  size: 4
  alias: posts
permalink: "/{{ (pagination.pageNumber + 1) + '/' if pagination.pageNumber }}"
eleventyComputed:
  title: Home{{ ' page ' + (pagination.pageNumber + 1) if pagination.pageNumber }}
---
{% include 'partials/index-header.html' %}      
<main>
  <section class="post-listing">
    <h2>Click on a tag to get a paged list of articles</h2>
    <hr>
    {% for post in posts %}
    <div class="listing-card">
      <h3>{{ post.data.title }}</h3>
      <a href="{{ post.url }}">Read more!</a>
      <div class="tag-container">
        {% for tag in post.data.tags %}
        <a href="/tags/{{ tag }}/">{{ tag }}</a>
        {% endfor %}
      </div>
    </div>
    {% endfor %}
  </section>
  <nav aria-labelledby="page-navigation">
    <p id="page-navigation"><big><b>Page navigation</b></big></p>
    <ul>
      <li>{% if page.url != pagination.href.first %}<a href="{{ pagination.href.first }}">First</a>{% else %}First{% endif %}</li>
      <li>{% if pagination.href.previous %}<a href="{{ pagination.href.previous }}">Previous</a>{% else %}Previous{% endif %}</li>
      {%- for pageEntry in pagination.pages %}
      <li><a href="{{ pagination.hrefs[ loop.index0 ] }}"{% if page.url == pagination.hrefs[ loop.index0 ] %} aria-current="page"{% endif %}>Page {{ loop.index }}</a></li>
      {%- endfor %}
      <li>{% if pagination.href.next %}<a href="{{ pagination.href.next }}">Next</a>{% else %}Next{% endif %}</li>
      <li>{% if page.url != pagination.href.last %}<a href="{{ pagination.href.last }}">Last</a>{% else %}Last{% endif %}</li>
    </ul>
  </nav>
</main>