---
layout: base-layout.njk
pagination:
  data: collections.posts
  size: 4
  alias: posts
  addAllPagesToCollections: true
permalink: "/{{ (pagination.pageNumber + 1) + '/' if pagination.pageNumber }}"
eleventyComputed:
  title: Home{{ ' page ' + (pagination.pageNumber + 1) if pagination.pageNumber }}
---
<header>
    <h1>Eleventy deep pagination</h1>
    <p>
    This is a demo of double layered pagination with navigation scoped to tagged content using <a href="https://www.11ty.dev/">11ty</a> static site generator. Following a discussion I had with Tobias on the <a href="https://www.11ty.dev/news/discord/">11ty Discord</a> about multi-level pagination. 
    I started to search on the topic and found <a href="https://github.com/11ty/eleventy/issues/332">issue #332</a>. 
    Then I wanted to experiment with it and created this little prototype. While tinkering, I faced the same situation as 
    <a href="https://github.com/11ty/eleventy/issues/1120">issue #1120</a>. My solution was to create a navigation object from the 
    from the first collection using the collection API.
    The source code can be found on <a href="https://github.com/solution-loisir/eleventy-deep-pagination">GitHub</a>!
    </p>
</header>       
<main>
  <section class="post-listing">
    {% for post in posts %}
    <div class="listing-card">
      <h2>{{ post.data.title }}</h2>
      <a href="{{ post.url }}">Read more!</a>
      <div class="tag-container">
        {% for tag in post.data.tags %}
        <a href="/tags/{{ tag }}/">{{ tag }}</a>
        {% endfor %}
      </div>
    </div>
    {% endfor %}
  </section>
  <nav aria-labelledby="page-navigation">
    <p id="page-navigation"><big><b>Page navigation</b></big></p>
    <ul>
      <li>{% if page.url != pagination.href.first %}<a href="{{ pagination.href.first }}">First</a>{% else %}First{% endif %}</li>
      <li>{% if pagination.href.previous %}<a href="{{ pagination.href.previous }}">Previous</a>{% else %}Previous{% endif %}</li>
      {%- for pageEntry in pagination.pages %}
      <li><a href="{{ pagination.hrefs[ loop.index0 ] }}"{% if page.url == pagination.hrefs[ loop.index0 ] %} aria-current="page"{% endif %}>Page {{ loop.index }}</a></li>
      {%- endfor %}
      <li>{% if pagination.href.next %}<a href="{{ pagination.href.next }}">Next</a>{% else %}Next{% endif %}</li>
      <li>{% if page.url != pagination.href.last %}<a href="{{ pagination.href.last }}">Last</a>{% else %}Last{% endif %}</li>
    </ul>
  </nav>
</main>