
---
layout: base-layout.njk
pagination:
    data: collections.Rust
    size: 4
    alias: tag
    addAllPagesToCollections: true
eleventyComputed:
    title: "{{ tag | lower | slug }}"
permalink: "tags/{{ pagination.pageNumber }}/index.html"
---
{% set posts = collections[tag] %}
            
{% for post in posts %}
<h1>{{ post.data.title }}</h1>
<a href="{{ post.url }}">Rust</a>
{% endfor %}