---
layout: base-layout.njk
pagination:
  data: collections.pagedTag
  size: 1
  alias: tag
  addAllPagesToCollections: true
permalink: tags/{{ tag.tagName }}/{{ (tag.pageNumber + 1) + "/" if tag.pageNumber }}
eleventyComputed:
  title: "{{ tag.tagName }}-page-{{ tag.pageNumber }}"
  tagName: "{{ tag.tagName }}"
---
<header>
  <h1>Posted on {{ tag.tagName }}</h1>
  <p>All of the articles listed bellow share a related subject on {{ tag.tagName }}.</p>
</header>
<main>
  <section class="post-listing">
    {% for post in tag.templateObjets %}
    <div class="listing-card">
      <h2>{{ post.data.title }} on {{ tag.tagName }}</h2>
      <a href="{{ post.url }}">Read more!</a>
    </div>
    {% endfor %}
  </section>
  <nav aria-labelledby="page-navigation">
    <p id="page-navigation"><big><b>Tagged page navigation</b></big></p>
    <ul>
      {% for item in collections.pagedTagNavigation[tag.tagName] %}
        {% if item.position === 'first' %}
          <li>{% if page.url !== item.path %}<a href="{{ item.path }}">First</a>{% else %}First{% endif %}</li>
        {% endif %}
        {% if item.previous %}
          <li>{% if page.url !== item.previous %}<a href="{{ item.previous }}">Previous</a>{% else %}Previous{% endif %}</li>
        {% endif %}
      {% endfor %}
      {% for item in collections.pagedTagNavigation[tag.tagName] %}
        <li><a href="{{ item.path }}"{% if page.url == item.path %} aria-current="page"{% endif %}>Page {{ loop.index }}</a></li>
      {% endfor %}
      {% for item in collections.pagedTagNavigation[tag.tagName] %}
        {% if item.next %}
          <li>{% if page.url !== item.next %}<a href="{{ item.next }}">Next</a>{% else %}Next{% endif %}</li>
        {% endif %}
        {% if item.position === 'last' %}
          <li>{% if page.url !== item.path %}<a href="{{ item.path }}">Last</a>{% else %}Last{% endif %}</li>
        {% endif %}
      {% endfor %}
    </ul>
  </nav>
  <a href="/">Back to Home page</a>
</main>