---
layout: base-layout.njk
pagination:
  data: collections.pagedTags
  size: 1
  alias: tag
permalink: tags/{{ tag.tagName }}/{{ (tag.pageNumber + 1) + "/" if tag.pageNumber }}
eleventyComputed:
  title: "{{ tag.tagName }}-page-{{ tag.pageNumber }}"
---
{% include 'partials/tags-header.njk' %}
<hr>
<main>
  <section class="post-listing">
    {% for post in tag.templateObjets %}
    <div class="listing-card">
      <h2>{{ post.data.title }} on {{ tag.tagName }}</h2>
      <a href="{{ post.url }}">Read more!</a>
    </div>
    {% endfor %}
  </section>
  <nav aria-labelledby="page-navigation">
    <p id="page-navigation"><big><b>Tagged page navigation</b></big></p>
    <ul>
      <li>{% if page.url !== tag.first %}<a href="{{ tag.first }}">First</a>{% else %}First{% endif %}</li>
      <li>{% if tag.previous %}<a href="{{ tag.previous }}">Previous</a>{% else %}Previous{% endif %}</li>
      {% for item in collections.pagedTags %}
        {% if tag.tagName === item.tagName %}
          <li><a href="{{ item.path }}"{% if page.url == item.path %} aria-current="page"{% endif %}>Page {{ item.pageNumber + 1 }}</a></li>
        {% endif %}
      {% endfor %}
      <li>{% if tag.next %}<a href="{{ tag.next }}">Next</a>{% else %}Next{% endif %}</li>
      <li>{% if page.url !== tag.last %}<a href="{{ tag.last }}">Last</a>{% else %}Last{% endif %}</li>
    </ul>
  </nav>
  <a href="/">Back to Home page</a>
</main>